<%- layout("layouts/boilerplate") %>


    <body>

        <div class="">

            <div class="showbody ">

                <div class="container">
                    <h1 class="blog-title">
                        <%= contents.titel%>
                    </h1>
                    <p class="blog-meta">
                        <%= contents.dateofcreated%>
                    </p>
                    <img class="showimg" src="<%= contents.img%>" alt="Nature" class="blog-image">
                    <div class="blog-content">
                        <p>
                            <%= contents.discription%>
                        </p>

                    </div>
                    <form action="/blogs/edit/<%= contents._id%>" method="get">
                        <button class="mt-3">edit</button>
                    </form>

                    <form action="/blogs/delete/<%= contents._id%>?_method=delete" method="post">
                        <button class="mt-3">delete</button>
                    </form>
                </div>


            </div>

            <div class="commentbody">
                <div class="containerr">
                    <header>
                        <h1>Comment Page</h1>
                    </header>
                    <section class="comment-form">
                        <h2>Leave a Comment</h2>
                        <form id="commentForm" action="/blogs/addcomment/<%= contents._id%>" method="post">
                            <label for="username">Name:</label>
                            <input type="text" id="username" name="comments[rating]" required>

                            <label for="comment">Comment:</label>
                            <textarea id="comment" name="comments[comment]" rows="5" required></textarea>

                            <button type="submit">Submit</button>
                        </form>
                    </section>
                    <section class="comments-section">
                        <h2>Comments</h2>
                        <div id="commentsList">
                            <!-- Comments will be dynamically added here -->

                            <% for(let content of contents.comment){ %>
                                <div class="comment-card">
                                    <img src="<%= contents.img%>" class="profile-pic">
                                    <div class="comment-content">
                                        <h3>
                                            <%=content.rating%>
                                        </h3>
                                        <p>
                                            <%=content.comment%>
                                        </p>
                                        <span class="timestamp">Posted on Jan 20, 2025</span>
                                    </div>

                                </div>
                                <% } %>
                    </section>
                </div>
            </div>
        </div>

    </body>